// BLog
.blog-card {
    color: #fff;
    border-top: 3px solid ;
    margin-bottom: 0.5rem;
    box-shadow:3px 5px 10px 0px #00000030; 
}  
.blog article:first-of-type .blog-card{
    border-top-color: #3FA796;
}
.blog article:nth-of-type(2) .blog-card{
    border-top-color: #FF5677;
}
.blog article:last-of-type .blog-card{
    border-top-color: #ba68c8;
}