/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #eee;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.text-primary-color {
  color: #ba68c8;
  margin-right: -10px;
}

.hero-title {
  font-size: 3.5rem;
}

.hero-desc {
  color: #eee;
  font-size: 1.2rem;
}

.section-title, .section-title-2 {
  color: #ba68c8;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.section-title-2 {
  font-size: 3rem;
}

.section-desc {
  color: #eee;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 2;
}

.bg-text-custom, .bg-text-custom-2, .bg-text-custom-3, .bg-text-custom-4 {
  -webkit-text-stroke: 1px #f2f2f2;
  color: transparent;
  font-weight: 700;
  font-size: 144px;
  line-height: 216px;
  opacity: .2;
  z-index: 0;
  position: absolute;
  top: -3%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
}

.bg-text-custom-2 {
  left: 11%;
  right: unset;
  top: -27%;
  -webkit-text-stroke: 1px #ba68c8;
}

.bg-text-custom-3 {
  left: 18%;
  right: unset;
  top: -5%;
  -webkit-text-stroke: 1px #ba68c8;
}

.bg-text-custom-4 {
  left: -1%;
  right: unset;
  top: -28%;
  -webkit-text-stroke: 1px #ba68c8;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.custom-btn {
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #ba68c8;
  color: #ba68c8;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.custom-btn:hover {
  color: white;
}

.custom-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.custom-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ba68c8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.darkBtn {
  position: fixed;
  z-index: 3;
  top: 1rem;
  right: 1rem;
  color: gray;
  cursor: pointer;
}

.darkBtn i {
  font-size: 24px;
}

.darkBtn i.uil-sun {
  display: none;
}

.darkBtn i.uil-moon {
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.darkBtn i.uil-moon:hover {
  color: yellow;
}

.scroll-down i {
  font-size: 32px;
  color: #ba68c8;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar-brand span {
  font-size: 5rem;
  font-weight: 800;
  font-style: italic;
}

.navbar-brand span:first-of-type {
  color: #ba68c8;
  z-index: 2;
  margin-left: 2rem;
}

.navbar-brand span:last-of-type {
  margin-left: -2rem;
  color: #fff;
  position: absolute;
}

.navbar-brand p:first-of-type {
  font-size: .8rem;
}

.navbar-brand p:last-of-type {
  font-size: 1rem;
  color: #ccc;
}

ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

ul.social i {
  font-size: 24px;
  color: #989898;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

ul.social i:hover {
  color: #ba68c8;
}

@media screen and (min-width: 992px) {
  .nav-header {
    width: 11rem;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    -webkit-box-shadow: 3px 5px 10px 0px #00000030;
            box-shadow: 3px 5px 10px 0px #00000030;
    padding: 0;
  }
  .nav-header .nav-wrapper, .nav-header .navbar-collapse, .nav-header .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-header .nav-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 0;
  }
  .nav-header .navbar-brand {
    width: 100%;
    border-bottom: 1px solid #2d2d2d;
  }
  .nav-header .navbar-collapse {
    padding: 1rem;
  }
  .nav-header nav.navbar, .nav-header .nav-wrapper, .nav-header .navbar-collapse {
    height: 100%;
  }
  .pl-custom {
    padding-left: 13.5rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar-brand p {
    display: none;
  }
}

svg#freepik_stories-coding {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

svg#freepik_stories-coding:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-coding.animated #freepik--binary-code--inject-1--inject-54 {
  -webkit-animation: 3s Infinite  linear floating;
          animation: 3s Infinite  linear floating;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

svg#freepik_stories-coding.animated #freepik--Plants--inject-1--inject-54 {
  -webkit-animation: 1.5s Infinite  linear wind;
          animation: 1.5s Infinite  linear wind;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

svg#freepik_stories-coding.animated #freepik--Character--inject-1--inject-54 {
  -webkit-animation: 3s Infinite  linear wind;
          animation: 3s Infinite  linear wind;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes floating {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes wind {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes wind {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

.hero {
  padding-top: 3rem;
}

.hero a.ad {
  color: #fff;
  text-decoration: none;
  font-size: .5rem;
  width: 100%;
  display: block;
  text-align: center;
}

.about-me .tagcloud {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10%;
}

.about-me .tagcloud--item:hover {
  color: #fff;
  cursor: pointer;
}

.about-me .skills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-me .skills li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.about-me .skills li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.about-me .skills li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.about-me .skills li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.about-me .skills li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.about-me .skills li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.about-me .skills li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.about-me .skills li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.about-me .skills li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.about-me .skills li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.about-me .skills li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.job-experience {
  padding: 50px;
}

.job-experience > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #3a3a3a;
}

.job-experience > li .company-name {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.job-experience > li .company-name > p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.job-experience > li .company-name p:nth-of-type(2), .job-experience > li .company-name span {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.job-experience > li .job-details {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.job-experience > li .job-details > p {
  font-size: 1.5rem;
}

.job-experience > li .job-details ul li {
  font-size: 1rem;
  margin-bottom: 8px;
}

.job-experience > li:last-of-type {
  border-bottom: none;
}

.eduction {
  padding: 50px;
}

.eduction li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-bottom: 1rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid #3a3a3a;
}

.eduction li > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.eduction li > p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.eduction li p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.eduction li span {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.eduction > li:last-of-type {
  border-bottom: none;
}

.contact-info {
  padding: 50px;
}

.contact-info ul.social i:hover {
  color: #3FA796;
}

.contact-list li {
  font-size: .9rem;
  margin-bottom: .5rem;
}

.contact-list li i {
  font-size: 20px;
  color: #989898;
  padding-right: 8px;
}

.contact-list li i::before {
  vertical-align: -2px;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px 8px;
  color: #fff;
  overflow: hidden;
}

.blog-card {
  color: #fff;
  border-top: 3px solid;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 3px 5px 10px 0px #00000030;
          box-shadow: 3px 5px 10px 0px #00000030;
}

.blog article:first-of-type .blog-card {
  border-top-color: #3FA796;
}

.blog article:nth-of-type(2) .blog-card {
  border-top-color: #FF5677;
}

.blog article:last-of-type .blog-card {
  border-top-color: #ba68c8;
}

aside h5 {
  font-size: 2rem;
  color: #ba68c8;
  margin-bottom: 1rem;
}

aside ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

aside ul li:hover:nth-child(even) a {
  color: #FF5677;
}

aside ul li:hover:nth-child(odd) a {
  color: #3FA796;
}

.contact-me form input, .contact-me form textarea {
  background-color: #75797a7a;
  border: none;
  padding: 12px 20px;
  -webkit-transition: ease;
  transition: ease;
}

.contact-me form input:focus, .contact-me form textarea:focus {
  border-color: #ba68c8;
  background-color: #9a9e9f7a;
  -webkit-box-shadow: 0 0 8px 3px #bb69c940;
          box-shadow: 0 0 8px 3px #bb69c940;
}

.contact-me form input:focus::-webkit-input-placeholder, .contact-me form textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact-me form input:focus:-ms-input-placeholder, .contact-me form textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact-me form input:focus::-ms-input-placeholder, .contact-me form textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.contact-me form input:focus::placeholder, .contact-me form textarea:focus::placeholder {
  color: #fff;
}

.contact-me form input::-webkit-input-placeholder, .contact-me form textarea::-webkit-input-placeholder {
  color: #8d8d8d;
  -webkit-transition: ease;
  transition: ease;
}

.contact-me form input:-ms-input-placeholder, .contact-me form textarea:-ms-input-placeholder {
  color: #8d8d8d;
  -webkit-transition: ease;
  transition: ease;
}

.contact-me form input::-ms-input-placeholder, .contact-me form textarea::-ms-input-placeholder {
  color: #8d8d8d;
  -webkit-transition: ease;
  transition: ease;
}

.contact-me form input::placeholder, .contact-me form textarea::placeholder {
  color: #8d8d8d;
  -webkit-transition: ease;
  transition: ease;
}
/*# sourceMappingURL=style.css.map */