:root{
    --theme-primary: #ba68c8;
    --theme-secondary:#3FA796;
    --theme-third:#FF5677;
} 
$primary-color:var(--theme-primary);
$secondary-color:var(--theme-secondary);
$third-color:var(--theme-third);
